apiVersion: v1
kind: ConfigMap
metadata:
  name: console-web-config
  namespace: kyma-system
  labels:
    app: console
    chart: console-web-0.2.0
data:
  config.js: |
    window.clusterConfig = {
      domain: '{{ js .Values.global.ingress.domainName }}',
      headerLogoUrl: 'assets/logo.svg',
      headerTitle: '',
      faviconUrl: 'favicon.ico',
      disabledNavigationNodes: '',
      systemNamespaces: 'compass-system istio-system knative-eventing knative-serving kube-public kube-system kyma-backup kyma-installer kyma-integration kyma-system natss kube-node-lease kubernetes-dashboard serverless-system',
      defaultIdpJwksUri: 'http://dex-service.kyma-system.svc.cluster.local:5556/keys',
      defaultIdpIssuer: 'https://dex.{{ js .Values.global.ingress.domainName }}',
      namespaceAdminGroupName: 'runtimeNamespaceAdmin',
      runtimeAdminGroupName: 'runtimeAdmin',
      bebEnabled: 'false',
      serverless: {
        functionUsageKind: "serverless-function",
        restrictedVariables: [
          'FUNC_RUNTIME',
          'FUNC_HANDLER',
          'FUNC_PORT',
          'MOD_NAME',
          'NODE_PATH',
          'PYTHONPATH'
        ],
        resources: {
          min: {
            memory: '16Mi',
            cpu: '10m',
          },
        },
      },
    };
